

body{
    background-color: #e7e7e7;
    padding: 0;
    margin: 0;
    overscroll-behavior: none;
}

h1{
    font-family:"Segoe UI",Arial,sans-serif;
    text-align: center;
    font-size: 70px;
}
h2 {
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
    margin:10px 0
}




@media (max-width: 768px) { 
    .boutons_pages {
        flex-direction: column; 
        align-items: center; 
        top: 2%; 
    }
}

.boutons_pages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    top: 0;
    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
    padding: 30px 0;
}

.boutons_pages.scrolled {
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 0;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.offre{
    border: 2px;
    border-color: #1112AA;
    background-color: #1112AA;
    border-style: solid;
    border-radius: 10px;
    width: 10rem;
    padding: 4px;
    text-align: center;
}

.offre:hover{
    transition: color 200ms;
    color:#ffffff;
    background-color:#1616d2;
    border-color: #1616d2;
    
}

.doc{
    border: 2px;
    border-color: #1112AA;
    background-color: #1112AA;
    border-style: solid;
    border-radius: 10px;
    width: 10rem;
    padding: 4px;
    text-align: center;
}

.doc:hover{
    transition: color 200ms;
    color:#ffffff;
    background-color:#1616d2;
    border-color: #1616d2;
    
}
.a_propos{
    border: 2px;
    border-color: #1112AA;
    background-color: #1112AA;
    border-style: solid;
    border-radius: 10px;
    width: 10rem;
    padding: 4px;
    text-align: center;
}
.a_propos:hover{
    transition: color 200ms;
    color:#ffffff;
    background-color:#1616d2;
    border-color: #1616d2;
    
}
.contact{
    border: 2px;
    border-color: #1112AA;
    background-color: #1112AA;
    border-style: solid;
    border-radius: 10px;
    width: 10rem;
    padding: 4px;
    text-align: center;
}

.contact:hover{
    transition: color 200ms;
    color:#ffffff;
    background-color:#1616d2;
    border-color: #1616d2;
    
}

.connexion{
    border: 2px;
    border-color: #1112AA;
    background-color: #1112AA;
    border-style: solid;
    border-radius: 10px;
    width: 10rem;
    padding: 4px;
    text-align: center;
}

.connexion:hover{
    transition: color 200ms;
    color:#ffffff;
    background-color:#1616d2;
    border-color: #1616d2;
    
}

.débuter{
    border: 2px;
    border-color: #1112AA;
    background-color: #1112AA;
    border-style: solid;
    border-radius: 10px;
    width: 10rem;
    padding: 4px;
    text-align: center;
}

.débuter:hover{
    transition: color 200ms;
    color:#ffffff;
    background-color:#1616d2;
    border-color: #1616d2;
    
}

.présentation_base{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    padding: 0;
    height: 30rem;
    background: linear-gradient(#1e415e 10%, #2b5b84 90%);
    align-items: center;
    justify-content: center;
}

.présentation_base h1 {
    color: #e7e7e7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin: 0;
    margin-top: 20px;
}

.présentation_base h3{
    color: #e7e7e7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 700px;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    margin-top: 30px;
}

.présentation_base button{
    height: 13%;
    width: 15%;
    background-color: transparent;
    border: 2%;
    border-color: #fdf7ef;
    border-style: solid;
    text-transform: uppercase;
    border-radius: 20px;
    color: #fdf7ef;
    margin-top: 20px;
}

.présentation_base button:hover{
    transition: color 200ms;
    color:#2b5b84;
    background-color:#e7e7e7;
    border-color: #2b5b84;
    
}

.infos_principales{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    text-align: center;
    margin-top: 150px ;

}

.offre1{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    border: 3px;
    border-color: #2b5b84;
    border-style: solid;
    border-radius: 20px;
    align-items: center;
    margin-right: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-evenly;
}

.offre1 button{
    border: 2px;
    border-style: solid;
    border-color: #2b5b84;
    border-radius: 20px;
    max-width: 100px;
    background-color: #2b5b84;
    color: white;
}


.offre2{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    border: 3px;
    border-color: #2b5b84;
    border-style: solid;
    border-radius: 20px;
    align-items: center;
    margin-right: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-evenly;
    scale: 1.15;
}

.offre2 button{
    border: 2px;
    border-style: solid;
    border-color: #2b5b84;
    border-radius: 20px;
    max-width: 100px;
    background-color: #2b5b84;
    color: white;
    
}

.offre3{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    border: 3px;
    border-color: #2b5b84;
    border-style: solid;
    border-radius: 20px;
    align-items: center;
    margin-right: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-evenly;
}


.offre3 button{
    border: 2px;
    border-style: solid;
    border-color: #2b5b84;
    border-radius: 20px;
    max-width: 100px;
    background-color: #2b5b84;
    color: white;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background:linear-gradient(#1e415e 10%, #2b5b84 90%) ;
    height: 10rem;
    margin-top: 200px;

}



footer svg{
    color: #e7e7e7;
    height: 2rem;
    width:2rem;
}


.last_match {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    border: 2px solid #383636;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    margin: 50px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.match_total {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.championship_day {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;  
}

.last_match img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.score {
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.winner {
    color: green;
    font-weight: bold;
}

.looser {
    color: red;
    font-weight: bold;
}

.last_match .score-container {
    display: flex;
    justify-content: center;
    width: 100%;
}




.fond{
    display: flex;
    flex-direction: column;
    background: url("image/fond.webp") no-repeat center fixed; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
}





.devise {
    display: flex;
    color: white;
    justify-content: center;  
    align-items: center;  
    min-height: 100px; 
    min-width: 300px; 
    font-size: clamp(20px, 5vw, 50px);;
    border: 2px solid ;
    background: linear-gradient(to bottom, #1112AA 50%, #DA001A 50%); 
    margin: 350px 350px 500px 350px; /* h d b g */
    border-radius: 30px;
    text-align: center;
}





/* --------------------------------------------------------------------------------------------------------*/ */
/* ----------------------------------- MENU DEFILANT ------------------------------------------------------------*/ */
/* --------------------------------------------------------------------------------------------------------*/

.mySlides {
    display: none;
} 
.card {
    width: 100%;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.w3-animate-right {
    position:relative;
    animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}
}

.w3-content {
    margin-left:auto;
    margin-right:auto
}

.w3-display-container {
    position:relative 
}

.w3-button {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

.w3-green {
    color:#fff!important;
    background-color:#4CAF50!important 
}

.w3-black {
    color:#fff!important;
    background-color:#000!important 
}

.w3-display-left {
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}

.w3-display-right { 
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}