

body{
    background-color: #e7e7e7;
    padding: 0;
    margin: 0;
    overscroll-behavior: none;
}

h1{
    text-align: center;
    font-size: 70px;
}


.boutons_pages{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.offre{
    border: 2px;
    border-color: #1112AA;
    background-color: #1112AA;
    border-style: solid;
    border-radius: 10px;
    width: 10rem;
    padding: 4px;
    text-align: center;
}

.offre:hover{
    transition: color 200ms;
    color:#ffffff;
    background-color:#1616d2;
    border-color: #1616d2;
    
}

.doc{
    border: 2px;
    border-color: #1112AA;
    background-color: #1112AA;
    border-style: solid;
    border-radius: 10px;
    width: 10rem;
    padding: 4px;
    text-align: center;
}

.doc:hover{
    transition: color 200ms;
    color:#ffffff;
    background-color:#1616d2;
    border-color: #1616d2;
    
}
.a_propos{
    border: 2px;
    border-color: #1112AA;
    background-color: #1112AA;
    border-style: solid;
    border-radius: 10px;
    width: 10rem;
    padding: 4px;
    text-align: center;
}
.a_propos:hover{
    transition: color 200ms;
    color:#ffffff;
    background-color:#1616d2;
    border-color: #1616d2;
    
}
.contact{
    border: 2px;
    border-color: #1112AA;
    background-color: #1112AA;
    border-style: solid;
    border-radius: 10px;
    width: 10rem;
    padding: 4px;
    text-align: center;
}

.contact:hover{
    transition: color 200ms;
    color:#ffffff;
    background-color:#1616d2;
    border-color: #1616d2;
    
}

.connexion{
    border: 2px;
    border-color: #1112AA;
    background-color: #1112AA;
    border-style: solid;
    border-radius: 10px;
    width: 10rem;
    padding: 4px;
    text-align: center;
}

.connexion:hover{
    transition: color 200ms;
    color:#ffffff;
    background-color:#1616d2;
    border-color: #1616d2;
    
}

.débuter{
    border: 2px;
    border-color: #1112AA;
    background-color: #1112AA;
    border-style: solid;
    border-radius: 10px;
    width: 10rem;
    padding: 4px;
    text-align: center;
}

.débuter:hover{
    transition: color 200ms;
    color:#ffffff;
    background-color:#1616d2;
    border-color: #1616d2;
    
}

.présentation_base{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    padding: 0;
    height: 30rem;
    background: linear-gradient(#1e415e 10%, #2b5b84 90%);
    align-items: center;
    justify-content: center;
}

.présentation_base h1 {
    color: #e7e7e7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin: 0;
    margin-top: 20px;
}

.présentation_base h3{
    color: #e7e7e7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 700px;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    margin-top: 30px;
}

.présentation_base button{
    height: 13%;
    width: 15%;
    background-color: transparent;
    border: 2%;
    border-color: #fdf7ef;
    border-style: solid;
    text-transform: uppercase;
    border-radius: 20px;
    color: #fdf7ef;
    margin-top: 20px;
}

.présentation_base button:hover{
    transition: color 200ms;
    color:#2b5b84;
    background-color:#e7e7e7;
    border-color: #2b5b84;
    
}

.infos_principales{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    text-align: center;
    margin-top: 150px ;

}

.offre1{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    border: 3px;
    border-color: #2b5b84;
    border-style: solid;
    border-radius: 20px;
    align-items: center;
    margin-right: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-evenly;
}

.offre1 button{
    border: 2px;
    border-style: solid;
    border-color: #2b5b84;
    border-radius: 20px;
    max-width: 100px;
    background-color: #2b5b84;
    color: white;
}


.offre2{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    border: 3px;
    border-color: #2b5b84;
    border-style: solid;
    border-radius: 20px;
    align-items: center;
    margin-right: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-evenly;
    scale: 1.15;
}

.offre2 button{
    border: 2px;
    border-style: solid;
    border-color: #2b5b84;
    border-radius: 20px;
    max-width: 100px;
    background-color: #2b5b84;
    color: white;
    
}

.offre3{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    border: 3px;
    border-color: #2b5b84;
    border-style: solid;
    border-radius: 20px;
    align-items: center;
    margin-right: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-evenly;
}


.offre3 button{
    border: 2px;
    border-style: solid;
    border-color: #2b5b84;
    border-radius: 20px;
    max-width: 100px;
    background-color: #2b5b84;
    color: white;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background:linear-gradient(#1e415e 10%, #2b5b84 90%) ;
    height: 10rem;
    margin-top: 200px;

}



footer svg{
    color: #e7e7e7;
    height: 2rem;
    width:2rem;
}


.last_match {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    border: 2px solid #383636;
    border-radius: 10px;
    background-color: #f8f8f8;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.championship_day {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;  
}

.last_match img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.score {
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.winner {
    color: green;
    font-weight: bold;
}

.looser {
    color: red;
    font-weight: bold;
}

.last_match .score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}




.fond{
    display: flex;
    flex-direction: column;
    background: url("image/fond.webp") no-repeat center fixed; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;

}



.edvise {
    display: flex;
    color: #ffffff;
    justify-content: center;  
    align-items: center;  
    height: 100vh;
    font-size: clamp(20px, 5vw, 50px);;
    border: 2px solid ;
    background: linear-gradient(to bottom, #1112AA 50%, #DA001A 50%); 
    margin: 350px 350px 500px 350px;
    border-radius: 30px;
    text-align: center;
}

.devise {
    display: flex;
    color: #ffffff;
    justify-content: center;  
    align-items: center;  
    min-height: 100px; 
    min-width: 300px; 
    font-size: clamp(20px, 5vw, 50px);;
    border: 2px solid ;
    background: linear-gradient(to bottom, #1112AA 50%, #DA001A 50%); 
    margin: 350px 350px 500px 350px; /* h d - g */
    border-radius: 30px;
    text-align: center;
}

.deise {
    display: flex;
    color: #ffffff;
    justify-content: center;  
    align-items: center;  
    min-height: 100px; 
    min-width: 300px;
    font-size: clamp(20px, 5vw, 50px);
    border: 2px solid;
    background: linear-gradient(to bottom, #1112AA 50%, #DA001A 50%);
    max-width: 90%; 
    padding: 20px; 
    border-radius: 30px;
    text-align: center;
}

